.DiscountCodeContainer {
	padding: 10px;
	border: 2px dashed $color-accent-1;
}

.DiscountCodeHeader {
	font-weight: $header-font-weight;
	font-size: $font-size-large;
}

.DiscountCode {
	font-weight: $header-font-weight;
	font-size: $h1-font-size;
	padding: 5px;
	color: $color-text-dark;
}

.DiscountRules {
	font-size: $font-size-small;
	line-height: normal;
}

.CallToAction {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
}
