.DiscountCodeContainer {
	padding: 10px;
}

.DiscountCodeHeader {
	font-weight: $header-font-weight;
	font-size: $h1-font-size;
}

.DiscountCode {
	font-weight: $header-font-weight;
	font-size: $h1-font-size;
	border: 1px dashed #25804b;
	padding: 5px;
	color: #25804b;
}

.CallToAction {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
}
