// -----------------------------------------------------------------------------
// Header block
// -----------------------------------------------------------------------------

.Header {
	background: $body-background;
}

.Header td {
	padding: 0;
}

.Header .ShopLogo {
	display: inline-block;
}

.Header .ShopLogo img {
	height: auto;
	max-height: 50px;
	max-width: 300px;
}
