$product-spacing:					($grid-list-gutter / 2) !default;

// -----------------------------------------------------------------------------
// Cart or order content
// -----------------------------------------------------------------------------

.ProductRow th {
	padding: 0;
	padding-left: 0;
	padding-right: 0;
}

.ProductRow th.Spacer {
	width: $product-spacing;
}

.ProductRow th.Image {
	background: #ffffff;
	border: 1px solid $color-image-border;
	text-align: center;
	vertical-align: middle;
	width: 60px;
}

.ProductRow th.Image a {
	display: block;
	Margin: 4px;
	margin: 4px;
}

.ProductRow th.Image img {
	Margin: 0 auto;
	margin: 0 auto;
	width: 50px;
}

.ProductRow th.Name {
	vertical-align: middle;
}

.ProductRow th.Unit {
	vertical-align: middle;
	width: 23%;
}

.ProductRow th.Total {
	padding: 0;
	padding-right: 0;
	vertical-align: middle;
	width: 100px;
}

.ProductRow .Unit .Price {
	text-align: right;
	width: 55%;
}

.ProductRow .Unit .QtyTimes {
	padding: 0 7px;
	text-align: center;
	width: 15px;
}

.ProductRow .Unit .Quantity {
	padding: 0 $product-spacing 0 0;
}

// -----------------------------------------------------------------------------
// Single row elements
// -----------------------------------------------------------------------------

.ProductRow .Name a,
.ProductRow .Name a span {
	color: $color-text-dark;
	font-weight: bold;
	line-height: 1.3em;
	text-decoration: none;
}

.Variation,
.DeliveryDate,
.Download {
	display: block;
	line-height: 1.1em;
	padding-top: 4px;
}

.Variation {
	color: lighten($color-text-dark, 15%);
	font-size: $font-size-small;
}

.DeliveryDate {
	color: lighten($color-text-dark, 15%);
	font-size: $font-size-small;
}

// -----------------------------------------------------------------------------
// Order total section
// -----------------------------------------------------------------------------

table.ProductsTotal {
	width: 100%;
}

.ProductsTotal .ProductsTotalRowSeparator hr {
	margin: ($grid-list-gutter / 2) 0;
}

.ProductsTotal th {
	padding-right: $grid-list-gutter;
	text-align: right;
}

.ProductsTotal th.Spacer {
	width: 30%;
}

.ProductsTotal .Subtotal td {
	font-weight: bold;
	width: 100px;
}

.ProductsTotal .ProductsTotal th,
.ProductsTotal .ProductsTotal td {
	font-size: $font-size-large;
	font-weight: bold;
}

.ProductsTotal .ProductsTotalTax th,
.ProductsTotal .ProductsTotalTax td {
	color: lighten($color-text-dark, 25%);
	font-size: $font-size-small;
	line-height: 1.2em;
}

// -----------------------------------------------------------------------------
// Reponsiveness
// -----------------------------------------------------------------------------

@media only screen and (max-width: #{$global-breakpoint}) {

	.ProductTable {
		margin: ($grid-gutter * 1.1) 0 $grid-gutter 0 !important;
	}

	.ProductRow th,
	.ProductRow td {
		margin: 0;
		padding: 0;
	}

	.ProductRow th {
		text-align: center !important;
		width: 100% !important;
	}

	.ProductRow th.Image {
		background: none !important;
		border: 0 !important;
		padding-bottom: $grid-gutter !important;
	}

	.ProductRow .Image a img {
		background: #ffffff !important;
		border: 1px solid $color-image-border !important;
		padding: 4px !important;
		width: 150px !important;
	}

	.ProductRow table {
		margin: $grid-list-gutter auto 0 auto !important;
		width: auto !important;
	}

	.ProductRow table th {
		padding: 0 3px !important;
		width: auto !important;
	}

	.ProductsTotal {
		margin: $grid-gutter 0 !important;
		width: 100% !important;
	}

	.ProductsTotal th.Spacer {
		display: none !important;
		width: 0% !important;
	}

	.ProductsTotal .Subtotal td {
		width: 35% !important;
	}

	.ProductsTotal .Subtotal th {
		font-weight: bold !important;
	}

	.ProductsTotal .Subtotal th span {
		display: block;
		font-size: $font-size-small;
		font-weight: normal;
	}
}
