// -----------------------------------------------------------------------------
// Product hero (big single product)
// -----------------------------------------------------------------------------

.wrapper.ProductHero h3 {
	text-align: center;
}

.wrapper.ProductHero h3 a,
.wrapper.ProductHero h3 a span {
	color: $primary-color;
	text-decoration: none;
}

// -----------------------------------------------------------------------------
// Product images
// -----------------------------------------------------------------------------

.ProductImage {
	margin: 0 auto;
}

.ImageFrame {
	background: #ffffff;
	border: 1px solid $color-image-border;
	border-radius: $global-radius;
	padding: $padding-image;
}

.ImageFrame,
.ImageFrame.Max {
	box-sizing: border-box;
	display: block;
}

.ImageFrame.Medium img {
	width: 250px;
}

.ImageFrame.Small img {
	width: 50px;
}

// -----------------------------------------------------------------------------
// Responsiveness
// -----------------------------------------------------------------------------

@media only screen and (max-width: #{$global-breakpoint}) {
	.wrapper.ProductHero .ImageFrame img {
		width: 100% !important;
	}
}
