// -----------------------------------------------------------------------------
// Product hero (big single product)
// -----------------------------------------------------------------------------

.wrapper.ProductHero h3 {
	text-align: center !important;
}

.wrapper.ProductHero h3 a {
	text-decoration: none;
}

// -----------------------------------------------------------------------------
// Product images
// -----------------------------------------------------------------------------

.ProductImage {
	margin: 0 auto;
}

.ImageFrame,
.ImageFrame.Max {
	background: #ffffff;
	border: 1px solid $color-image-border;
	border-radius: $global-radius;
	box-sizing: border-box;
	height: auto;
	padding: $padding-image;
	width: 100%;
}

.ImageFrame.Medium {
	width: 250px;
}

.ImageFrame.Small {
	width: 50px;
}

.ImageFrame img {
	height: auto;
	max-height: 100%;
	max-width: 100%;
	width: 100%;
}
