// -----------------------------------------------------------------------------
// Content block types
// -----------------------------------------------------------------------------

.container {
	background: $body-background !important;
	max-width: $global-width;
}

.container.Block > tbody > tr > td {
	padding: 0 $global-gutter;
}

.wrapper.Primary,
.wrapper.Primary .container,
.wrapper.Primary .wrapper,
.wrapper.Primary .wrapper .container {
	background: $body-background !important;
}

.wrapper.Secondary,
.wrapper.Secondary .container,
.wrapper.Secondary .wrapper,
.wrapper.Secondary .wrapper .container  {
	background: darken($light-gray, 5%) !important;
}

.wrapper.Light,
.wrapper.Light .container,
.wrapper.Light .wrapper,
.wrapper.Light .wrapper .container {
	background: $light-gray !important;
}

// -----------------------------------------------------------------------------
// Buttons
// -----------------------------------------------------------------------------

.Button {
	background: $primary-color;
	border-radius: $global-radius;
	color: text-contrast($primary-color) !important;
	display: inline-block;
	margin-bottom: ($global-gutter / 2);
	padding: 8px 18px;
	text-align: center;
	text-decoration: none !important;
	vertical-align: middle;
}

.Button.Block {
	box-sizing: border-box;
	display: block !important;
	width: 100% !important;
}

@media only screen and (max-width: #{$global-breakpoint}) {
	.Button {
		box-sizing: border-box;
		display: block !important;
		width: 100% !important;
	}
}

// -----------------------------------------------------------------------------
// Separators
// -----------------------------------------------------------------------------

hr {
	background: $color-body-border;
	border: 0;
	height: 1px;
}

// -----------------------------------------------------------------------------
// Text aligment
// -----------------------------------------------------------------------------

.Text-Left {
	text-align: left;
}

.Text-Center {
	text-align: center;
}

.Text-Right {
	text-align: right;
}
