// -----------------------------------------------------------------------------
// Content block types
// -----------------------------------------------------------------------------

.container {
	background: $body-background;
	max-width: $global-width;
}

.wrapper.Primary,
.wrapper.Primary .container,
.wrapper.Primary .wrapper,
.wrapper.Primary .wrapper .container {
	background: $body-background;
}

.wrapper.Secondary,
.wrapper.Secondary .container,
.wrapper.Secondary .wrapper,
.wrapper.Secondary .wrapper .container  {
	background: darken($light-gray, 5%);
}

.wrapper.Light,
.wrapper.Light .container,
.wrapper.Light .wrapper,
.wrapper.Light .wrapper .container {
	background: $light-gray;
}

@media only screen and (max-width: #{$global-breakpoint}) {
	.wrapper-inner {
		padding: 0 ($global-gutter / 2) !important;
	}
}

// -----------------------------------------------------------------------------
// Buttons
// -----------------------------------------------------------------------------

table.button {
	table td {
		border-radius: $button-radius;
		border: 0;
	}
}

.button a {
	&, &:hover, &:link, &:visited, font {
		color: text-contrast($primary-color);
		text-decoration: none;
	}
}

// -----------------------------------------------------------------------------
// Separators
// -----------------------------------------------------------------------------

hr {
	background: $color-body-border;
	border: 0;
	height: 1px;
}

// -----------------------------------------------------------------------------
// Text aligment
// -----------------------------------------------------------------------------

.Text-Left {
	text-align: left;
}

.Text-Center {
	text-align: center;
}

.Text-Right {
	text-align: right;
}
