// -----------------------------------------------------------------------------
// Remove gutter
// -----------------------------------------------------------------------------

.NoMargin th {
	padding: 0;
}

// -----------------------------------------------------------------------------
// Text aligment
// -----------------------------------------------------------------------------

.Text-Left {
	text-align: left;
}

.Text-Center {
	text-align: center;;
}

.Text-Right {
	text-align: right;
}

//------------------------------------------------------------------------------
// Relative 1:1 squares
//------------------------------------------------------------------------------

.Square {
	position: relative;
	width: 100%;
}

.Square.before {
	display: block;
	padding-top: 100%;
}

.Square-Content {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
