// -----------------------------------------------------------------------------
// Show hide
// -----------------------------------------------------------------------------

@media only screen and (min-width: #{$global-breakpoint}) {
	.Show-Small {
		display: none !important;
	}
}

@media only screen and (max-width: #{$global-breakpoint}) {
	.Hide-Small {
		display: none !important;
		height: 0 !important;
		overflow: hidden !important;
	}
	.Show-Small {
		display: block !important;
	}
}

// -----------------------------------------------------------------------------
// Remove gutter
// -----------------------------------------------------------------------------

.NoMargin th {
	&.first {
		padding-left: 0;
	}
	&.last {
		padding-right: 0;
	}
	&.first.last {
		padding-left: 0;
		padding-right: 0;
	}
}

@media only screen and (max-width: #{$global-breakpoint}) {
	table.NoMargin th.columns {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
}
