<wrapper class="Primary">
	<spacer size="30"></spacer>
	<container>
		<row>
			<columns large="8">
				<h1>{%ContactUs}</h1>
				<row class="NoMargin">
					<columns large="6">
						<p>
							{ContactCompany(after:'<br />')}
							{ContactStreetAddress1(after:'{ContactStreetAddress2(before:',&nbsp;')}<br />')}
							{ContactZip} {ContactCity(after:'<br />')}
							{ContactCountry}
						</p>
					</columns>
					<columns large="6">
						<p>
							{ContactEmail(after:'<br />')}
							{ContactInternet(after:'<br />')}
							{ContactPhone(after:'<br />')}
							{ContactBusinessID(before:'{%BusinessID}:&nbsp;')}
						</p>
					</columns>
				</row>
			</columns>
			<columns large="4">
				{Banners(
					name: 'followbuttons',
					before: '<h1>Seuraa meitä</h1><p>',
					helper: 'helpers/socialmedia-link',
					after: '</p>'
				)}
			</columns>
		</row>
	</container>
	<spacer size="30"></spacer>
</wrapper>
