<wrapper class="Legal">
	<spacer size="30"></spacer>
	<container>
		<row>
			<columns large="12">
				<h3>{%LegalReturnRights}</h3>
				<p>{%LegalReturnPeriod}</p>
				<p>{%LegalReturnNotificationMethod} {OrderDownloadReturnDocument}.</p>
				<p>{%LegalReturnNotification}</p>

				<h3>{%LegalReturnImplications}</h3>
				<p>{%LegalPaymentReturn}</p>
				<p>{%LegalShipmentReturnPeriod} {%LegalShipmentReturnExpenses} {%LegalShipmentReturnImpairment}</p>
			</columns>
		</row>
	</container>
	<spacer size="30"></spacer>
</wrapper>
