<wrapper class="Primary Toolbox">
	<spacer size="10"></spacer>
	<container>
		<row>
			<columns>
				<p class="text-right">
					{{#ifpage 'order'}}
						<a href="{ShopUrl}/orderstatus/">{%Ordertracking}</a>
						<a href="#invoice">{%DownloadInvoice}</a>
						<a href="#receipt">{%DownloadReceipt}</a>
					{{/ifpage}}
					{{#ifpage 'cart'}}
						<a href="{CartShareLink}">{%CartEmailHtmlLink}</a>
					{{/ifpage}}
					{{#ifpage 'payment-notification'}}
						{TransactionPaymentLink(
							before: '<a href="',
							after: '">{%PaymentTransactionLinkText}</a>'
						)}
					{{/ifpage}}
				</p>
			</columns>
		</row>
	</container>
	<spacer size="30"></spacer>
</wrapper>
